*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, rgba(0, 214, 252, 0.781),rgba(0, 72, 206, 0.89));
    height: 100vh;
    overflow: hidden;
}
.form-section{
    background-color: white;
    margin-top: 130px;
    padding: 100px;
    height: 60vh;
    box-shadow:15px 15px 30px  rgba(0, 0, 255, 0.527) ;

}

.form-control:focus{
    border-color: rgba(0, 0, 255, 0.527);
    box-shadow: 0 0 0 1px rgba(0, 0, 255, 0.527);
}

.header-text{
    color:rgba(0, 0, 255, 0.527);
}

.img{
    height:250px;
    margin:-40px -95px;
}
.form-content{
    margin-top: -80px;
}
.send-now{
    background-color:rgba(0, 214, 252, 0.781) ;
    color: black;
    padding: 5px 20px;
    border: none;
    margin-top:  10px;
    border-radius: 25px;
    transition: all 0.4s;
    box-shadow: rgba(0, 0, 255, 0.589) 3px 3px  10px;

}
.send-now:hover{
    background-color:rgba(0, 72, 206, 0.89);
    color: white;
    transform: translateY(-3px);
}

.send-now:active{
    transform: translateY(-1px);
}
